[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gggibbous"]
	path = gggibbous
	url = https://github.com/mnbram/gggibbous
	shallow = true
	registered = true
